body {
  background: #fffbf1;
  font-family: Courier New, monospace;
}

h1, h2 {
  color: #654321;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.section {
  background: #ffffff;
  padding: 1.5rem;
  margin: 1rem 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
  overflow: hidden;
}

table {
  width: 100%;
  font-size: 18px;
  border-collapse: separate;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
  padding: 8px;
  width: auto;
}


td.short-bubble {
  font-weight: bold;
  background: #f2d3d8;
  border-radius: 8px;
  width: 25%;
  height: 45px;
  margin: 1rem 40px;
}

td.long-bubble {
  background: #f2e6e8;
  border-radius: 8px;
  width: 35%;
  height: 45px;
  margin: 1rem 10px;
}
