body {
  background: #fffbf1;
  font-family: Courier New, monospace;
}

h1, h2 {
  color: #8b4411;
}

p {
  font-size: 25px;
  line-height: 1.6;
  color: #a57a5a;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.section {
  background: #ffffff;
  padding: 1.5rem;
  margin: 1rem 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.short-bubble {
  background: #f2d3d8;
  border-radius: 8px;
  padding: 10px;
}

.long-bubble {
  background: #f2e6e8;
  border-radius: 8px;
  padding: 10px;
}

table {
  width: 90%;
  margin-left: 40px;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) td {
  text-align: left;
}
